@-webkit-keyframes leadDragAnime {
  0% {
    -webkit-transform: translate(none);
            transform: translate(none);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(none);
            transform: translate(none);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: translateX(21vw);
            transform: translateX(21vw);
    opacity: 0.5;
  }
  70% {
    -webkit-transform: translateX(21vw);
            transform: translateX(21vw);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes leadDragAnime {
  0% {
    -webkit-transform: translate(none);
            transform: translate(none);
    opacity: 0;
  }
  10% {
    -webkit-transform: translate(none);
            transform: translate(none);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: translateX(21vw);
            transform: translateX(21vw);
    opacity: 0.5;
  }
  70% {
    -webkit-transform: translateX(21vw);
            transform: translateX(21vw);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

body {
  background-color: #ededed;
  margin: 0;
  overflow: hidden;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.inactive {
  display: none;
}

.opening {
  -webkit-transition: opacity 0.7s 2.5s;
  transition: opacity 0.7s 2.5s;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.opening .mask {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #242323;
}

.opening .collegeName {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 2.2vw;
  color: #f0f0f0;
  cursor: default;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.pers-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-box-shadow 1s 0.5s;
  transition: -webkit-box-shadow 1s 0.5s;
  transition: box-shadow 1s 0.5s;
  transition: box-shadow 1s 0.5s, -webkit-box-shadow 1s 0.5s;
  width: 21.5vw;
}

.pers-container::before {
  content: "";
  display: block;
  padding-top: 177%;
}

.pers-container.opened {
  -webkit-box-shadow: 0px 1px 7px #2768d0, -1px -1px 7px #358cff;
          box-shadow: 0px 1px 7px #2768d0, -1px -1px 7px #358cff;
}

.pers-container > * {
  position: absolute;
  background: #ededed;
  -webkit-box-shadow: inset 16px 16px 32px #b6b6b6, inset -16px -16px 32px #ffffff;
          box-shadow: inset 16px 16px 32px #b6b6b6, inset -16px -16px 32px #ffffff;
}

.pers-container > *:nth-child(1) {
  top: 0%;
  right: 0%;
}

.pers-container > *:nth-child(2) {
  top: 2.6%;
  right: 2.6%;
}

.pers-container > *:nth-child(3) {
  top: 5.2%;
  right: 5.2%;
}

.pers-container > *:nth-child(4) {
  top: 7.8%;
  right: 7.8%;
}

.pers-container > *:nth-child(5) {
  top: 10.4%;
  right: 10.4%;
}

.pers-container > *:nth-child(6) {
  top: 13%;
  right: 13%;
}

.pers1 {
  width: 100%;
}

.pers1::before {
  content: "";
  display: block;
  padding-top: 177%;
}

.pers2 {
  width: 87.4%;
}

.pers2::before {
  content: "";
  display: block;
  padding-top: 189%;
}

.pers3 {
  width: 77.7%;
}

.pers3::before {
  content: "";
  display: block;
  padding-top: 200%;
}

.pers4 {
  width: 69.3%;
}

.pers4::before {
  content: "";
  display: block;
  padding-top: 212%;
}

.pers5 {
  width: 62.8%;
}

.pers5::before {
  content: "";
  display: block;
  padding-top: 223%;
}

.pers6 {
  width: 56.7%;
}

.pers6::before {
  content: "";
  display: block;
  padding-top: 237%;
}

.door {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21.5vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: -webkit-box-shadow 1s 0.5s;
  transition: -webkit-box-shadow 1s 0.5s;
  transition: box-shadow 1s 0.5s;
  transition: box-shadow 1s 0.5s, -webkit-box-shadow 1s 0.5s;
  cursor: -webkit-grab;
  cursor: grab;
}

.door.opened {
  -webkit-box-shadow: 4px 4px 4px #2768d0, 0 -4px 4px #358cff;
          box-shadow: 4px 4px 4px #2768d0, 0 -4px 4px #358cff;
}

.door .leadDrag {
  position: absolute;
  top: 45%;
  left: 10%;
  width: 12%;
  padding: 2px;
  border: 2px solid #358cff;
  background-color: #358cff;
  background-clip: content-box;
  border-radius: 50%;
  opacity: 0;
  -webkit-animation-name: leadDragAnime;
          animation-name: leadDragAnime;
  -webkit-animation-duration: 2.4s;
          animation-duration: 2.4s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.door .leadDrag::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.door .board {
  width: 100%;
  background: linear-gradient(145deg, #fefefe, #d5d5d5);
  -webkit-box-shadow: 12px 12px 24px #b6b6b6, -12px -12px 24px #ffffff;
          box-shadow: 12px 12px 24px #b6b6b6, -12px -12px 24px #ffffff;
}

.door .board::before {
  content: "";
  display: block;
  padding-top: 177%;
}

.door .knob {
  width: 6.5%;
  border-radius: 40%;
  position: absolute;
  top: 42%;
  left: 14%;
  background: linear-gradient(145deg, #fefefe, #d5d5d5);
  -webkit-box-shadow: 12px 12px 24px #b6b6b6, -12px -12px 24px #ffffff;
          box-shadow: 12px 12px 24px #b6b6b6, -12px -12px 24px #ffffff;
}

.door .knob::before {
  content: "";
  display: block;
  padding-top: 345%;
}

.intro {
  width: 100vw;
  height: 100vh;
  -webkit-transition: -webkit-transform 1.3s 2s;
  transition: -webkit-transform 1.3s 2s;
  transition: transform 1.3s 2s;
  transition: transform 1.3s 2s, -webkit-transform 1.3s 2s;
}

.intro.opened {
  -webkit-transform: scale(13);
          transform: scale(13);
  -webkit-transform-origin: 53% 50%;
          transform-origin: 53% 50%;
}

.intro .leadText {
  font-size: 1.7vw;
  color: #4e4e4e;
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.intro .openedText {
  font-size: 1.7vw;
  color: #2768d0;
  position: absolute;
  top: 50%;
  left: 7%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 1s 0.3s;
  transition: all 1s 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.intro .openedText.opened {
  -webkit-transform: translate(60%, -50%);
          transform: translate(60%, -50%);
}

main {
  -webkit-transition: opacity 1s, -webkit-transform 1.3s 2s;
  transition: opacity 1s, -webkit-transform 1.3s 2s;
  transition: transform 1.3s 2s, opacity 1s;
  transition: transform 1.3s 2s, opacity 1s, -webkit-transform 1.3s 2s;
}

main.opened {
  -webkit-transform: scale(13);
          transform: scale(13);
  -webkit-transform-origin: 53% 50%;
          transform-origin: 53% 50%;
}

main .swiper-container {
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: white;
}

main .swiper-container .about {
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .swiper-container .about h2 {
  font-size: 1.8vw;
}

main .swiper-container .about p {
  font-size: 1vw;
}

main .swiper-container .home {
  text-align: center;
  background-color: #6194C2;
}

main .swiper-container .home h1 {
  position: absolute;
  top: 19%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 6vw;
  margin: 0;
}

main .swiper-container .home h1 span {
  font-size: 13vw;
  line-height: 1;
}

main .swiper-container .home p {
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.2vw;
  line-height: 2;
}

main .swiper-container .lecture {
  background-color: #8FCBDE;
}

main .swiper-container .lecture .board {
  background: linear-gradient(145deg, #99d9ee, #81b7c8);
  -webkit-box-shadow: 12px 12px 24px #7aadbd, -12px -12px 24px #a4e9ff;
          box-shadow: 12px 12px 24px #7aadbd, -12px -12px 24px #a4e9ff;
}

main .swiper-container .lecture .knob {
  background: linear-gradient(145deg, #99d9ee, #81b7c8);
  -webkit-box-shadow: 12px 12px 24px #7aadbd, -12px -12px 24px #a4e9ff;
          box-shadow: 12px 12px 24px #7aadbd, -12px -12px 24px #a4e9ff;
}

main .swiper-container .lecture .pers-container > * {
  background: #8FCBDE;
  -webkit-box-shadow: inset 16px 16px 32px #7aadbd, inset -16px -16px 32px #a4e9ff;
          box-shadow: inset 16px 16px 32px #7aadbd, inset -16px -16px 32px #a4e9ff;
}

main .swiper-container .work {
  background-color: #ADE7E7;
}

main .swiper-container .work .board {
  background: linear-gradient(145deg, #b9f7f7, #9cd0d0);
  -webkit-box-shadow: 12px 12px 24px #93c4c4, -12px -12px 24px #c7ffff;
          box-shadow: 12px 12px 24px #93c4c4, -12px -12px 24px #c7ffff;
}

main .swiper-container .work .knob {
  background: linear-gradient(145deg, #b9f7f7, #9cd0d0);
  -webkit-box-shadow: 12px 12px 24px #93c4c4, -12px -12px 24px #c7ffff;
          box-shadow: 12px 12px 24px #93c4c4, -12px -12px 24px #c7ffff;
}

main .swiper-container .work .pers-container > * {
  background: #ADE7E7;
  -webkit-box-shadow: inset 16px 16px 32px #93c4c4, inset -16px -16px 32px #c7ffff;
          box-shadow: inset 16px 16px 32px #93c4c4, inset -16px -16px 32px #c7ffff;
}

main .swiper-container .professor {
  background-color: #97D8E2;
}

main .swiper-container .professor .board {
  background: linear-gradient(145deg, #a2e7f2, #88c2cb);
  -webkit-box-shadow: 12px 12px 24px #80b8c0, -12px -12px 24px #aef8ff;
          box-shadow: 12px 12px 24px #80b8c0, -12px -12px 24px #aef8ff;
}

main .swiper-container .professor .knob {
  background: linear-gradient(145deg, #a2e7f2, #88c2cb);
  -webkit-box-shadow: 12px 12px 24px #80b8c0, -12px -12px 24px #aef8ff;
          box-shadow: 12px 12px 24px #80b8c0, -12px -12px 24px #aef8ff;
}

main .swiper-container .professor .pers-container > * {
  background: #97D8E2;
  -webkit-box-shadow: inset 16px 16px 32px #80b8c0, inset -16px -16px 32px #aef8ff;
          box-shadow: inset 16px 16px 32px #80b8c0, inset -16px -16px 32px #aef8ff;
}

main .swiper-container .student {
  background-color: #78B1D5;
}

main .swiper-container .student .board {
  background: linear-gradient(145deg, #80bde4, #6c9fc0);
  -webkit-box-shadow: 12px 12px 24px #6696b5, -12px -12px 24px #8accf5;
          box-shadow: 12px 12px 24px #6696b5, -12px -12px 24px #8accf5;
}

main .swiper-container .student .knob {
  background: linear-gradient(145deg, #80bde4, #6c9fc0);
  -webkit-box-shadow: 12px 12px 24px #6696b5, -12px -12px 24px #8accf5;
          box-shadow: 12px 12px 24px #6696b5, -12px -12px 24px #8accf5;
}

main .swiper-container .student .pers-container > * {
  background: #78B1D5;
  -webkit-box-shadow: inset 16px 16px 32px #6696b5, inset -16px -16px 32px #8accf5;
          box-shadow: inset 16px 16px 32px #6696b5, inset -16px -16px 32px #8accf5;
}
/*# sourceMappingURL=style.css.map */